@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0F;
    --foreground: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
}

.maskovany-obrazok {
  mask-image: url('/maska.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: url('/maska.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
